<html>
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {{ js_resources | safe }}
    {{ script | safe }}
  </head>
  <body style="background-color:lightgrey; padding-bottom: 70px;">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">World Cup Analysis</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/country_data">Team Analysis</a></li>
          <li><a href="/player_data">Player Analysis</a></li>
          <li><a href="/league_data">Professional League Effect</a></li>
          <li><a href="/interesting_stuff">Other Topics</a></li>
        </ul>
      </div>
    </nav>
    
    <h3>Consistent qualification</h3>
    <p>
      Soccer teams that have consistently qualified for World Cups tend to fare
      better at the tournament. The data below shows the average World Cup position
      of the 50 nations that made it to the most World Cups. The teams that 
      have played in at least 75% of World Cup tournaments have on average placed
      in the top 10 teams in the world. These teams are Brazil, Italy,
      Germany (including West Germany), and Argentina.
    </p>
    
    {{ div.history | safe }}
    
  </body>
</html>