<html>
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {{ js_resources | safe }}
  </head>
  <body style="background-color:lightgrey;">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">World Cup Analysis</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/country_data">Team Analysis</a></li>
          <li><a href="/player_data">Player Analysis</a></li>
          <li><a href="/league_data">Professional League Effect</a></li>
          <li><a href="/interesting_stuff">Other Topics</a></li>
        </ul>
      </div>
    </nav>
    
    {{ script | safe }}
    
    <div class=page>
      <h3>Countries with most expatriates</h3>
      <p>
        Professional players in countries with less developed professional leagues
        make their way to the higher quality professional leagues. The bar graph below
        shows expatriate players in the top 5 professional leagues. Brazilians and
        are well represented in these 5 leagues. It is interesting that while France
        has one of the top 5 leagues, they are also have the top 5 expatriate players
        in the top 5 leagues (these players are in the other 4 leagues).
      </p>
      
      {{ div.expats | safe }}
      
      <h3>Professional League Quality</h3>
      <p>
        Nations that qualify for the World Cup should a squad of better players.
        A professional league with more players who have played in  the World Cup
        is likely to be a better quality league. The data shows World Cup Players
        disproportionately play in 5 Western European professional leagues. These
        countries 5 benefit as the players from their nation do not need to leave
        to play with better quality players, aiding their development. Other countries
        must find another way to develop their national teams. 
      </p>
      
      {{ div.nations | safe }}
      
    </div>
  </body>
</html>