<!doctype html>
<html>
  <head>
    {{ js_resources | safe }}
    {{ css_resources | safe }}
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>World Cup Player Data</h1>
      <h3>Player Age</h3>
      <p>
        A World Cup tournament squad may is expected to contain the best players
        available to a coach. Some are younger and more physically gifted, while
        others are older and depend on their experience. Discussions about squad
        composition usually relys on anecdotal evidence.
        
        Teams were under 25 years of age on average during the earliest World Cups.
        The average age rose by about 2 years since then. The age of more successful
        teams, and their makeup should also be investigated. For example, it would be
        intersting to understand if teams with players in their mid-20s performs
        differently from teams where player ages are more widely varied.
      </p>
      {{ div.plot1 | safe }}
      
      <h3>Does birth month matter?</h3>
      <p>
        There was an interesting study on the bias in the NHL for players born in
        the<a href="https://www.nhl.com/news/study-suggests-nhl-has-bias-in-favour-of-players-born-earlier-in-the-year/c-657724"> first 3 months of the year</a>.
        The most intersting aspect was that players born at the beginning of the year
        were a little older than those in their age group during their school years,
        so they were selected for school teams due to being a little stronger, faster and 
        bigger. These selections offered them the opportunity to practice
        more, to the point where more could play professionally.
        
        There is a larger number of World Cup players born in the first 3 months
        of the year overall. Players were also born in 2 of the first 3 months for
        most World Cups. It is unclear at this point why this is.
      </p>
      
      {{ div.plot2 | safe }}
      <form id='player' method='post'>
				<p>
					<input type='submit' name='submit', value='Professional League Data'>
          <input type='submit' name='submit', value='Home'>
				</p>
    </div>
  </body>
</html>